/* div {
    background-color: #481556;
} */

.my-title {
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
}

.center-option {
    margin-top: 5%;
    text-align: center;
    cursor:pointer;
     color:blue;
     text-decoration:underline;
}

.my-auth-div {
    margin-top: 10%;
    margin-bottom: 10%;
}