#container{
    align-content: center;
    text-align: center;
    background: var(--team-color1);
    height: 100vh;
  

   
}
.findpageh1{
    text-align: center;
    color: var(--team-color4);
}
#searchforlostpage{
    text-align: center;
   
}