.animalImg {
  width: 250px !important;
  height: 220px !important;
  background-size: cover !important;
  border-radius: 15px !important;
  margin: 20px !important;
  text-decoration: none;
}

.PetCardh2 {
  color: var(--team-color4);
  text-decoration: none;
}
.linkPetCard {
  text-decoration: none;
}
