.lostfirst6-container{
  display: grid;
  grid-template-columns: repeat(4, 300px);
  margin: 50px;
  border-radius: 20px;
  justify-content: center;
  background: var(--team-color2);

}
.foundfirst6-container{
  display: grid;
  grid-template-columns: repeat(4, 300px);
 background: var(--team-color2);
  justify-content: center;
  margin: 50px;
  border-radius: 20px;

}


.all-posts-container{
  background:var(--team-color1) ;
  text-align: center;
  align-content: center;
  align-items: center;
  color:var(--team-color4);
}

.allposth5{
  text-decoration: none;
  color: var(--team-color4);
}
.morein{
  text-decoration: none;
}
