.lostfirst6-container{
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  margin: 50px;
  border-radius: 20px;
  justify-content: center;
  background: var(--team-color2);

}
.foundfirst6-container{
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
 background: var(--team-color2);
  justify-content: center;
  margin: 50px;
  border-radius: 20px;

}

.all-posts-container {
  background: var(--team-color1);
  text-align: center;
  align-content: center;
  align-items: center;
  color: var(--team-color4);
  padding-bottom: 50px;
}

.allposth5{
  text-decoration: none;
  color: var(--team-color4);
}
.morein{
  text-decoration: none;
}
