.first6-container {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
  justify-content: center;
}


.all-posts-container{
  background:var(--team-color1) ;
  text-align: center;
  align-content: center;
  align-items: center;
  color:var(--team-color4);
}
