#searchforlostpage {
  text-align: center;
  /* background:var(--team-color2); */
}
.container {
  align-content: center !important;
  text-align: center !important;
  background: var(--team-color1);
  height: 100vh !important;
  width: 100% !important;
}
.lostpageh1 {
  text-align: center !important;
  color: var(--team-color4);
}
