#navbar{
    text-align: center;
    align-items: center;
   /* height: 70%; */
   font-size: 10px;
   background-color: #B25068;
   padding-top: 2%;
   padding-bottom: 2%;
   /* margin-bottom: 5%; */
   color: #E7AB79;
}
.username{
    font-size: 25px;
    text-align: right;
    color: var(--team-color1);
    
}
