/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
} */

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.map-container {
  width: 600px;
  height: 450px;
}

.combobox-input {
  /* position: relative; */
  top: 300px;
  width: 100%;
  padding: 0.5rem;
}

/* POST  */
.pet-detail-page {
  background-color: var(--team-color1);
}

.pet-detail-container {
  background-color: var(--team-color1);
  color: var(--team-color4);
}

.pet-detail-container h1 {
  padding: 30px;
  font-size: 5em;
}

.post-details-info {
  background-color: var(--team-color2);
  padding-left: 4em !important;
}

.post-details-details {
  padding-bottom: 2em !important;
  padding-left: 4em !important;
  font-size: 1.5em;
}

.pet-detail-page .divider {
  background-color: var(--team-color2);
  font-size: 6em !important;
  margin: 0 !important;
  padding-top: 1em;
  padding-bottom: 0.5em;
}
.add-form-container {
  background-color: var(--team-color2);
}
