#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem; 
}

footer {
  /* margin-top: 50px;
  padding-bottom: 60px; */
  position: relative;
  bottom: 0;
  width: 100%;
  height: 6rem; /* Footer height */
  background:var(--team-color3) ;
  text-align: center;
 
}
