body {
    background-color: #481556;
    text-align: center;
}

.my-sign-back-div {
    background-color: #4C3A51;
    /* text-align: center; */
}

.my-sign-card {
    margin-left: 10%;
    margin-right: 10%;
    max-width: 80%;

}

.my-sign-card-body {

}

.my-sign-div {

}

.my-sign-label {

}

.my-sign-input {
    
}