html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.places-container {
  /* position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%); */
  /* z-index: 10; */
  width: 800px;
  /* padding: 1vmin; */
  font-size: 2vmin;
  /* border: .1vmin solid var(--tan-3); */
  border-radius: .5vmin;
  /* color: var(--text-dark); */
  background-image: none !important; /* prevent lastpass */
  outline: none;
}

.map-container {
  width: 400px;
  height: 350px;
}

.combobox-input {
  /* position: relative; */
  top :300px;
  width: 100%;
  padding: 0.5rem;
}
